.addOrderPage{
    .addBtn {
        text-align: right;
        .btn {
            width: 150px;
            height: auto;
            margin: 10px;
            background: #1890ff;
            border-radius: 25px;
            color: #ffffff;
            font-size: 16px;
            padding: 9px;
            font-weight: 600;
        }
    }
    // .example-full-width {
        
    // }
    .mat-mdc-form-field {
        width: 100%;
    }
}