<div class="row orderListPage">
  <div class="col-sm-12">
    <div class="row">
      <div class="example-button-container addBtn">
        <button mat-fab extended class="btn" (click)="addOrder()">Add</button>          
      </div>
    </div>
    <app-card cardTitle="Order">
      <div class="mat-elevation-z8 OrderTableDiv">
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange()">
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          
          <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by itemName"> Item Name </th>
            <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by customerName"> Customer Name </th>
            <td mat-cell *matCellDef="let element"> {{element.customer_name}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="customerEmail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by customerEmail"> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.customer_email}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="customerNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by customerNumber"> Number </th>
            <td mat-cell *matCellDef="let element"> {{element.customer_number}} </td>
          </ng-container>

          <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dueDate"> Due Date </th>
            <td mat-cell *matCellDef="let element"> {{element.due_date}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <button (click)="viewOrder(element)" class="iconBtn"><mat-icon>remove_red_eye</mat-icon></button>
              <button (click)="editOrder(element)" class="iconBtn"><mat-icon>edit</mat-icon></button>
              <button (click)="deleteOrder(element)" class="iconBtn"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div> 
    </app-card>
  </div>
</div>
